/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

body {}
h1,h2,h3,h4,p,a{
   font-family: 'proxima-nova';
   -webkit-font-smoothing: antialiased;
}
h1 {
font-weight: 100;
color: #fff;
letter-spacing: 5px;
font-size: 24px;
}
.headline{
   width: 70%;
   text-align: center;
   margin: 0 auto;
}
h4{
   font-size: 12px;
   color: #fff;
   vertical-align: text-bottom;
   display: inline-block;
}
a, a i{
   color: #fff;
}
a:hover, a i:hover{
   color: #99B6B8;
   transition: color ease .3s;
   -webkit-transition: color ease .3s;
   -moz-transition: color ease .3s;
   -o-transition: color ease .3s;
}
.center-block{
   margin: 0 auto;
}
.img-container{
   padding: 25px 0;
}
.col {margin:0 1%;}
/* ==========================================================================
   Header
   ========================================================================== */

.banner {background: rgba(0,0,0, .5); border:transparent; }
header.navbar{
   margin-bottom: 0px;
}

div.navbar-header {
float: none;
}
.navbar-toggle{
   display: none;
}
/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

.btn.btn-click:hover{
 color: rgba(255,255,255, 1) ;
   transition: color ease .3s;
   -webkit-transition: color ease .3s;
   -moz-transition: color ease .3s;
   -o-transition: color ease .3s;
border-color: rgba(255,255,255, 1) ;
transition: border-color ease .3s;
   -webkit-transition: border-color ease .3s;
   -moz-transition: border-color ease .3s;
   -o-transition: border-color ease .3s;
}
.btn.btn-click {
font-family: 'proxima-nova';
font-weight: 500;
color: #fff;
padding: 10px 10px;
border-color: rgba(255,255,255, .4);
border: rgba(255,255,255, .4) solid 2px;
border-radius: 0px;
white-space: normal;
letter-spacing: 6px;
font-size: 14px;
display: inline-block;
clear: none;
white-space: normal;
}

.btn-container{
   margin: 45px auto;
   width: 300px;
   text-align: center;
}
/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer {  }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { background: rgba(0,0,0, .5); }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}

.topspin-widget.topspin-widget-email-for-media {
overflow: hidden;
display: inline-block;
margin-top: 10px;
}
.floatright{
   text-align: center;
}
div#social {
padding-top: 30px;
}
#menu-socials,.credits{
   display: inline;
}
/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.col {margin:0 10%;}
h1 {
font-size: 24px;
}
div.navbar-header {
margin: 0 auto!important;
width: 50%;
}

.floatright{
   text-align: center;
   float: right;
   }
   footer.content-info.container-fluid {
position: absolute;
bottom: 0;
width: 100%;
}

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
.content{
padding: 2% 0px;
}
div#social {
padding-top: 15px;
}
.topspin-widget.topspin-widget-email-for-media {
height: 32px;
}
 }
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
.topspin-widget.topspin-widget-email-for-media {
height: 50px;
}
div#social {
padding-top: 30px;
}
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px ) {
.content{
   padding: 5% 0px;
}
 }
